<!DOCTYPE html>
<html>
  <head>
    <title>Gift It - {{title}}</title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div id="user_info">
        {{#if user}}
        Logged in as {{user.first_name}} {{user.last_name}} (<a href="/logout">Logout</a>) 
        {{else}}
        <a href="/login">Login</a>&emsp;<a href="/register">Register</a>
        {{/if}}
      </div>
      <div class="title{{#if main}} main{{/if}}">
        {{page_title}}
      </div>
      {{#if show_nav}}
      <div id="nav">
        <p>
          <a href="/">Home</a>&emsp;<a href="/user">My Account</a>&emsp;<a>My Gifts</a>&emsp;<a href="/search">Search</a>&emsp;<a href="/settings">Settings</a>
        </p>
      </div>
      {{/if}}
      {{{body}}}
      {{#unless show_nav}}
      <p><a href="javascript:history.back()">Back</a></p>
      {{/unless}}
    </div>
  </body>
</html>
