<div class="body">
<h4>Update Account Information</h4>
<h4 class="error">{{ message }}</h4>
<form method="POST">
  <div class="box">
    <p>
      <label for="first_name">First Name:</label>
      <input name="first_name" type="text" value="{{user.first_name}}" required>
    </p>
    <p>
      <label for="last_name">Last Name:</label>
      <input name="last_name" type="text" value="{{user.last_name}}" required>
    </p>
    <p>
      <label for="email">Email:</label>
      <input name="email" type="email" value="{{user.email}}" required>
    </p>
    <p>
      <label for="birthday">Date of Birth:</label>
      <input name="birthday" type="date" value="{{user.birthday}}" required>
    </p>
    <br>
    <p>
      <label for="notify_me">Notifications:</label>
      <select name="notify_me">
        <option value="on">On</option>
        <option value="off">Off</option>
      </select>
    </p>
    <p>
      <label for="notify_time">Notify me:</label>
      <select name="notify_time">
        <option value="0">On the Day</option>
        <option value="1">1 Day Before</option>
        <option value="2">2 Days Before</option>
        <option value="3">3 Days Before</option>
        <option value="5">5 Days Before</option>
        <option value="7">1 Week Before</option>
        <option value="14">2 Weeks Before</option>
        <option value="21">3 Weeks Before</option>
      </select>
    </p>
  </div>
  <br>
  <input class="btn" type="submit" value="Update">
</form>
</div>
