<div class="body">
<h4>Update Account Information</h4>
<h4 class="error">{{ message }}</h4>
<form method="POST">
  <div class="box">
    <p>
      <label for="password">Password:</label>
      <input name="password" type="password" required>
    </p>
    <br>
    <p>
      <label for="first_name">First Name:</label>
      <input name="first_name" type="text" value="{{user.first_name}}" required>
    </p>
    <p>
      <label for="last_name">Last Name:</label>
      <input name="last_name" type="text" value="{{user.last_name}}" required>
    </p>
    <p>
      <label for="email">Email:</label>
      <input name="email" type="email" value="{{user.email}}" required>
    </p>
    <p>
      <label for="birthday">Date of Birth:</label>
      <input name="birthday" type="date" value="{{user.birthday}}" required>
    </p>
    <br>
    <p>
      <label for="notify_me">Notifications:</label>
      <input name="notify_me" type="checkbox" value="{{user.options.notify_me}}">
    </p>
  </div>
  <input class="btn" type="submit" value="Update">
</form>
<p><a href="/change_password">Change password</a></p>
</div>
