<div class="body">
<h4>{{user.username}}</h4>
<table>
  <tr><td class="col1">Name</td><td>{{account.first_name}} {{account.last_name}}</td></tr>
  <tr><td class="col1">Email</td><td>{{account.email}}</td></tr>
  <tr><td class="col1">Birthday</td><td>{{account.birthday}}</td></tr>
  <tr><td class="col1">Age</td><td>{{age}}</td></tr>
</table>
<br>
{{#if myAccount}}
<p><a href="/user/{{account.username}}/wishlist">View my wishlist</a></p>
<p><a href="/settings">Update account information</a></p>
<p><a href="/change_password">Change password</a></p>
{{else}}
<p><a href="/user/{{account.username}}/wishlist">View {{account.first_name}}'s wishlist</a></p>
{{/if}}
</div>
