<div class="body">
{{#if myAccount}}
<p><a href="wishlist/add">Add an item to your wishlist!</a></p>
{{/if}}

{{#if gifts}}
<div class="search_results">
  <table>
    <tr>
      <td>Gift</td>
      <td>Price</td>
      <td>Tags</td>
    </tr>
    {{#each gifts}}
    <tr>
      <td><a href="/gift/info?id={{this.id}}">{{this.name}}</a></td>
      <td>{{#if this.price}}{{this.price}}{{else}}N/A{{/if}}</td>
      <td>{{#if this.tags}}{{this.tags}}{{else}}N/A{{/if}}</td>
    </tr>
    {{/each}}
  </table>
</div>
{{else}}
<p>Wishlist is empty.</p>
{{/if}}
</div>
<p><a href="/user/{{account.username}}">Back to Account</a></p>
</div>
