<div class="body">
<p><strong>
  Search by:&emsp;<a href="/search/gift">Gift</a>&emsp;<a href="/search/tag">Tag</a>&emsp;<a href="/search/user">User</a>
</strong></p>
<form method="GET">
  <div class="box">
    <p>
      <input name="item" type="search">
      <input class="btn" type="submit" value="Search">
    </p>
  </div>
</form> 
{{#if results}}
<div class="search_results">
  <table>
    <tr>
      <td>Gift</td>
      <td>Price</td>
      <td>Tags</td>
    </tr>
    {{#each results}}
    <tr>
      <td>
          {{#if this.name}}
            <a href="/gift/info?id={{this._id}}">{{this.name}}</a>
          {{else}}N/A{{/if}}
      </td>
      <td>{{#if this.price}}{{this.price}}{{else}}N/A{{/if}}</td>
      <td>{{#if this.url}}{{this.url}}{{else}}N/A{{/if}}</td>
    </tr>
    {{/each}}
  </table>
</div>
{{/if}}
</div>
