<div class="body">
<p><a href="/gift/add">Add a Gift</a></p>

{{#if gifts}}
<div class="search_results">
  <table>
    <tr>
      <td>Gift</td>
      <td>Price</td>
      <td>Tags</td>
    </tr>
    {{#each gifts}}
    <tr>
      <td><a href="/gift/info?id={{this.id}}">{{this.name}}</a></td>
      <td>{{#if this.price}}{{this.price}}{{else}}N/A{{/if}}</td>
      <td>{{#if this.tags}}{{this.tags}}{{else}}N/A{{/if}}</td>
    </tr>
    {{/each}}
  </table>
</div>
{{else}}
<p>No gifts in your list.</p>
{{/if}}
</div>
